.u-maxY {
	height: 100%;
}

.u-scroll {
	overflow-y: auto;
}

.u-hiddenScroll {
	overflow-y: hidden;
}

.u-spaceBetweenY {
	align-items: space-between;
}

.u-spaceBetweenX {
	justify-content: space-between;
}

.u-maxX {
	width: 100%;
}

.u-maxXY {
	width: 100%;
	height: 100%;
}

.u-flex {
	display: flex;
}

.u-column {
	flex-direction: column;

	&.u-pullLeft {
		align-items: flex-start;
	}

	&.u-pullRight {
		align-items: flex-end;
	}
}

.u-centerX {
	display: flex;
	justify-content: center;
}

.u-centerY {
	display: flex;
	align-items: center;
}

.u-centerXY {
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-fillRemaining {
	flex: 1;
}

.u-pullRight {
	display: flex;
	justify-content: flex-end;
}

.u-pullLeft {
	display: flex;
	justify-content: flex-start;
}

.u-pullUp {
	display: flex;
	align-items: flex-start;
}

.u-pullDown {
	display: flex;
	align-items: flex-end;
}

.u-spaceBetweenX {
	justify-content: space-between;
}

// .u-ellipsis {
// 	@include ellipsis();
// }

// .u-spaceBetweenX {
// 	@include justify-content(space-between);
// }

// .u-inlineFlex {
// 	@include display(inline-flex);
// }

.t-alignLeft {
	text-align: left;
}

.t-alignRight {
	text-align: right;
}