@import 'colors';
@import 'utility';
@import 'text';
@import 'fonts';

@mixin transform {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

//variable
$headerColor: rgb(30, 187, 167);

body {
    font-family: Colfax;
}

.datePicker {
    width: 17.1875rem;
    height: 17.5625rem;
    border: 1px solid $gray-7;    
}

.datePicker-content {
    width: 15rem;
    margin: 0 auto;
    padding: 1.25rem 0 0;
}

.month {
    font-size: 0.8125rem;
    font-weight: 500;
}

.u-lastRow {
    width: 6.875rem;
    justify-content: space-between;
}

.u-spaceAround {
    justify-content: space-around;
}

tr {
    td {
        div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.875rem;
        height: 1.875rem;
        }
    }
    th {  
        div {
            width: 1.875rem;
            height: 1.25rem;
        }
    }
}

.datePicker-header {    
    padding: 0.625rem 1.25rem;
    margin: 0;
    color: white;
    background: $blue;
    font-size: 0.875rem;
    position: relative;
    &:before {
        margin-bottom: -9px;
        position: absolute;
        @include transform;
        content: " ";
        z-index: -100;
        width: 9px;
        height: 9px;
        border: 1px solid $gray-7;
        border-width: 1px 1px 0 0;
        @include transform;
        top: -5px;
        left: 125px;
        background: rgb(30, 187, 167);
    }
    &:after {
        border: 6px solid $blue;
        content: " ";
        left: 124px;
        position: absolute;
        top: -1px;
    }

}

.arrow {
    color: $gray-6;
}

// .border-triangle {
//     width: 0; 
//     height: 0; 
//     border-left: 9px solid transparent;
//     border-right: 9px solid transparent;    
//     border-bottom: 9px solid $gray-7;
//     position: absolute;
//     top: -6px;
//     left: 8.125rem;
//     z-index: -5;
// }

// .triangle {   
//     width: 18px;
//     height: 18px;
//     transform: rotate(-45deg);
//     position: absolute;
//     top: -4px;
//     left: 8.125rem;
//     background-color: rgb(30, 187, 167);
//     z-index: -10;
//     &:before {
//         margin-bottom: -9px;
//         @include transform;
//         content: " ";
//          z-index: 100;
//         width: 18px;
//         height: 18px;
//         border: 1px solid rgb(30, 187, 167);
//         border-width: 1px 1px 0 0;
//         box-shadow: 1px -1px 2px rgba(0,0,0,.12);
//         @include transform;
//     }
//     &:after {
//         border-bottom-color: $gray-7;
//         border: 13px solid transparent;
//         content: " ";
//     }
// }

.arrow-left {
    position: relative;
    left: 0.875rem;
}

.arrow-right {
    position: relative;
    right: 0.875rem;
}

.datePicker-calendar {
    .datePicker-date {
        color: $gray-6;
    }
}

.datePicker-day{
    font-weight: 500;
}

.datePicker-day {
    &.is-active {
         background: rgb(30, 187, 167);
        .datePicker-day {
            color: $white;
        }
    }
}
