@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebThin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebMediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Colfax';
	src: url('../fonts/ColfaxWebBlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}
